<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/app.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- Your application logs -->
        <Logger name="org.example" level="DEBUG" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Hibernate logs -->
        <Logger name="org.hibernate" level="INFO" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Root logger -->
        <Root level="ERROR">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>